language: elixir
elixir:
  - 1.2.2
otp_release:
  - 18.2.1
before_install:
  - source /etc/lsb-release && echo "deb http://download.rethinkdb.com/apt $DISTRIB_CODENAME main" | sudo tee /etc/apt/sources.list.d/rethinkdb.list
  - wget -qO- https://download.rethinkdb.com/apt/pubkey.gpg | sudo apt-key add -
  - sudo apt-get update -qq
  - sudo apt-get install rethinkdb -y
before_script:
  - rethinkdb --daemon
  - mix ecto.create
  - mix ecto.migrate
